<div class="container">
    <h1>Reserva</h1>
    <form id="reserve_form" action="posts">
        <label for="check-in">Fecha de entrada:</label>
        <input type="date" id="check-in" name="check-in" required><br>

        <label for="check-out">Fecha de salida:</label>
        <input type="date" id="check-out" name="check-out" required><br>

        <button id="submit-button">Reservar</button>
    </form>
</div>